/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */
/*@font-face {
  font-family: Lobster;
  src: url(../fonts/Lobster-Regular.ttf);
}
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Lobster', cursive;*/

}

html, body {
	width: 100%;
	min-height: 100%;
}


.stars-bg {
	position: relative;
	background-size: cover;
	background: url(../images/stars.jpg);
}

.stars-bg::before {
	content: '';
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom: 0;
	opacity: 1;
	background-color: black;
}


#main-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#main-wrapper .flex-item {
	width: 100%;
	text-align: center;
}

.title {
	padding-top: 150px;
}

.sub-title {
	padding-top: 40px;
	padding-bottom: 10px;
}

footer {
	padding-top: 100px;
	text-align: center;
}