@font-face {
  font-family: Kalam;
  src: url(../fonts/Kalam-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #f5f6fa;
	font-family: 'Kalam', cursive;
	text-align: center;
}

html, body {
	width: 100%;
}

html{
  height: 100%;
}

body {
  min-height: 100%;
}

.stars-bg {
	position: relative;
	background-size: cover;
	background: url(../images/stars.jpg);
	overflow: hidden;
	z-index: -2
}

.stars-bg::after {
	/* bg overlay */
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0.5;
	background-color: black;
	z-index: -1
}

#main-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.title {
	padding-top: 150px;
	font-size: 50px;
}

.flex-linebreak {
	width: 100%;
	content: '';
}

.sub-title {
	padding-top: 40px;
	padding-bottom: 10px;
	font-size: 35px;
}

.mid-size-text {
	font-size: 22px;
}

#cracked-password {
	margin-bottom: 40px;
}

button {
	font-size: 20px;
	margin-top: 30px;
	background-color: inherit;
	border: #f5f6fa solid 1px;
	padding: 5px 10px;
	transition: background-color 0.8s, color 0.8s, opacity 0.5s;
	animation: shake 4s infinite;
	cursor: pointer;
	-webkit-box-shadow: 0px 7px 24px -10px rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0px 7px 24px -10px rgba(255, 255, 255, 0.8);
	box-shadow: 0px 7px 24px -10px rgba(255, 255, 255, 0.8);
}

button:hover {
	background-color: #f5f6fa;
	color: black;
}

@keyframes shake {
	0% {transform: translateY(0px);}
	50% {transform: translateY(-10px);}
	100% {transform: translateY(0px);}
}

button:active, button:focus {
	outline: none;
	/*box-shadow: none;*/
}

button:active {
	opacity: 0.4;
}

input {
	background-color: transparent;
	border: #f5f6fa solid 1px;
	padding: 4px 18px;
	font-size: 18px;
	margin: 20px 0px 0px 0px;
}


footer {
	padding-top: 100px;
	text-align: center;
	font-size: 20px;
}

